body{
  font-size: 14px!important;

}

/* Header */

nav{
  background: #04020bb5;
}

header{
  background: #04020bb5;
}

a, p{
  color: #FFFFFF!important;
}

.logo-quick{
  font-size: 30px;
  color: #9ad723;
}

.logo-funds{
  font-size: 30px;
  color: #9F98D7;
}

.header-title{
  color: #62d0ef;
  font-size: 3rem;
}

.signin-button{
  color: white!important;
  border-radius: 2rem;
}

#contact{
  background: url('../images/gradient.png');
  background-size: cover;
}

.text-primary{
  color: #FFFFFF!important;
}

footer{
  background: url('../images/footer.png');
  background-size: cover;
    background-blend-mode: luminosity;
}

.footer-desc{
  font-size: 1.2rem;
}